div {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


#red { background-color: #f00; }
#orange { background-color: #ffa500: width: 180px; height: 180px; }
#yellow { background-color: yellow; width: 160px; height: 160px; }
#green { background-color: green; width: 140px; height: 140px; }
#blue { background-color: blue; width: 120px; height: 120px; }
#indigo { background-color: indigo; width: 100px; height: 100px; }
#violet { background-color: violet; width: 80px; height: 80px; }

#red > div { border-top: 50px solid #f00; }
#orange > div { border-top: 50px solid #ffa500; }
#yellow > div { border-top: 50px solid #ff0; }
#green > div { border-top: 50px solid #00bc3f; }
#blue > div { border-top: 50px solid #06f; }
#indigo > div { border-top: 50px solid #8a2be2; }
#violet > div { border-top: 50px solid #d300c9; }